body {
  background-color: lightblue;
}

.bid-form {
  margin: 0 auto;
  display: flex;
}

.bid-form label {
  display: block;
}

.header-title {
  margin: 0px 100px 20px 100px;
  text-align: center;
}

.test-board {
  border: 2px solid black;
  padding: 15px;
  margin: 0px 250px 50px 250px;
  text-align: center;
}

.input {
  padding: 5px;
}

.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid darkgreen; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.homepage-links {
  text-align: center;
}

.loader-container {
  margin: 0 auto;
}

.flexed {
  display: flex;
  justify-content: space-evenly;
}
